<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="http://fonts.cdnfonts.com/css/technology" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/styles/style.css">
</head>

<body>
    <div class="l-board">
        <div class="l-board__top">
            <div id="flagCounter" class="l-board__text"></div>
            <div id="smile" class="l-board__smile"></div>
            <div id="timer" class="l-board__text">
                <span id="minutes"></span>:
                <span id="seconds"></span>
            </div>
        </div>
        <div class="l-board__grid"></div>
    </div>

    <div class="l-popup"></div>


    <script src="./assets/scripts/index.js"></script>
</body>

</html>