- const base = ".."
- const home = false
- const canonical = "/about"
doctype html
html(lang='ja')
  include /partials/_head
  body
    include /partials/_ga
    include /layouts/_header
    // start l-main
    main.l-main.p-top
    // end l-main
    include /layouts/_footer
